<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="margin-top: 8%;">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight" style="color:#999999">
              Welcome to <br />
              <span style="color:#ffffff"><i>CLIPPY</i></span>
            </h1>
            <h5 style="color:#949494; padding-bottom: 2%;">
              Providing better reading experiences for researchers.
            </h5>
          </div>
  
          <div class="col-lg-6 mb-5 mt-5 mb-lg-0">
            <div class="card" style="border-radius: 25px; padding: 2%;">
              <div class="card-body py-5 px-md-5">
                <form>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                    <input type="email" id="form3Example3" class="form-control" placeholder="Email Address"/>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                    <input type="password" id="form3Example4" class="form-control" placeholder="Password"/>
                  </div>

  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mt-4 mb-2 submit">
                    Sign In
                  </button>

                </form>

                <h6 class="mt-4 mb-0 signup">Don't have an account?<span routerLink="/signup"><b> Sign Up</b></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->