<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="margin-top: 8%;">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mt-5 mb-lg-0">
            <div class="card" style="background-color: #777777;">
              <div class="card-body py-5 px-md-5">
                <form>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                    <input type="email" id="form3Example3" class="form-control" placeholder="Email Address"/>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                    <input type="password" id="form3Example4" class="form-control" placeholder="Password"/>
                  </div>

  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mt-4 mb-2 submit">
                    Sign In
                  </button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->