.nav__cont {
    position: fixed;
    width: 2.5rem;
    right:0;
    top:3.8rem;
    height: 100vh;
    z-index: 100;
    background-color: #2e2e2e;
    overflow:hidden;
    transition:width .3s ease;
    cursor:pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    &:hover {
      width:16rem;
    }
    @media screen and (min-width: 600px) {
      width: 4rem;
    }
  }
  
  .nav {
    list-style-type: none;
    color:white;
    padding-left: 2.0rem;
    &:first-child {
      padding-top:2rem;
    }
  }
  
  .nav__items {
    padding-bottom:0.2rem;
    font-family: 'roboto';
    width: 100%;
     .item {
      position: relative;
      display:block;
      top:-33px;
      padding: 0.5rem 0.9rem 0.5rem 1.5rem;
      transition:all .3s ease;
      margin-left:20px;
      // margin-right:10px;
      text-decoration: none;
      color:white;
      font-family: 'Poppins';
      font-weight: 70;
      font-size: 1.05em;
      &:after {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        border-radius:2px;
        background:radial-gradient(circle at 94.02% 88.03%, #a7a7a7, transparent 100%);
        opacity:0;
        transition:all .5s ease;
        z-index: -10;
      }
    }
    &:hover .item:after {
      opacity:1;
    }
     svg{
      width:20px;
      height:20px;
      position: relative;
      left:-15px;
      cursor:pointer;
      @media screen and (min-width:600px) {
        width:25px;
        height:25px;
        left:-12px;
      }
    }
  }

  .sub_items{
    margin-top: 0.5rem;
    svg{
      width:12px;
      height:12px;
      position: relative;
      top:-10px;
      left: 30px;
      cursor:pointer;
      @media screen and (min-width:600px) {
        width:20px;
        height:20px;
        left: 35px;
      }
    }

  }

  .sub-item{
    position: relative;
    display:block;
    top:-20px;
    padding: 0.5rem 0.9rem 0.5rem 1.5rem;
    transition:all .3s ease;
    margin-left:40px;
    // margin-right:10px;
    text-decoration: none;
    color:white;
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.05em;
}

.sub-item:hover{
    border-radius:2px;
    background:radial-gradient(circle at 94.02% 88.03%, #575757, transparent 100%);
    transition:all .5s ease;
}

.toggle-icon{
  position: absolute;
}
  
  body {
    height: 100vh;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%),radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  }
  
  h1 {
    margin-top: 6rem;
    margin-left:80px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 4rem;
    text-transform:uppercase;
    color:white;
    letter-spacing:6px;
    text-shadow:10px 10px 10px rgba(0,0,0,.3);
  }
  
  
  