
h3,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.select-paper {
  /* display: flex; */
  height: fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  color: white;
}

.upload {
  text-align: center;
  background-color: #2e2e2e;
  border: none;
  color: #c6c6c6;
  font-size: large;
  margin: 4rem 0 1rem 0;
  padding: 0.5rem;
  width: 35rem;
}
#paper {
  margin-top: 1rem;
  color: #c6c6c6;
  text-align: center;
  background-color: transparent;
  border: 2px solid #2e2e2e;
}
#paper::placeholder {
  text-align: center;
  color: #c6c6c6;
}

.history {
  width: 60%;
  margin: 7% auto 0;
}

.history-files {
  color: #c6c6c6;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h5, a{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    cursor: pointer;
}

.searchBar{
  display: flex;
}

.dropdown button{
  margin-top: 1rem;
  background: transparent;
  border: none;
}

.dropdown-menu{
  background-color: #ffffff9d;
}

#search-addon{
  float: right;
  background: transparent; 
  color: white; 
  margin-top: 0.5rem;
  z-index: 500;
}