.content{
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    margin: auto;
    background-color: white;
    overflow-wrap: wrap;
    word-wrap: break-word;
    overflow-y: auto;
    height: 40rem;
}

p{
    text-align: justify;
}

.close{
    position: absolute;
    top: 0.1%;
    right: 2%;
    background-color: transparent;
    border: none;
    color: white;
}

.close-icon{
    font-size: 2rem;
}

.single{
    width: 100%;
}

.copy{
    margin: 1rem auto;
    text-align: center;
}
