<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ currentChunkTitle }}
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li *ngFor="let chunk of rawSummary">
                <a class="dropdown-item" (click)="showChunkSummary(chunk)">{{
                  chunk.title
                }}</a>
              </li>
            </ul>
          </li>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeSummary()"
          >
            <span aria-hidden="true" class="close-icon">&times;</span>
          </button>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="single">
      <p>{{ currentChunkSummary }}</p>
      <button
        class="btn btn-outline-dark copy"
        [cdkCopyToClipboard]="currentChunkSummary"
        (cdkCopyToClipboardCopied)="onClipboardCopy($event)"
      >
        Copy
      </button>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-pulse"
  [fullScreen]="true"
><p style="color: white" > Loading... </p></ngx-spinner>