<app-navbar></app-navbar>
<div class="container-fluid">
   <div class="left" [ngStyle]="{'width': summarizerOn == true ? '70%':'96%'}" *ngIf="!graphOn">
      <pdf-viewer [src]="pdfPath"
              [render-text]="true"
              [original-size]="false"
              style="width: 50rem; height: 90vh; margin: 0 auto;"
      ></pdf-viewer>
   </div>
   <!-- <div class="left" [ngStyle]="{'visibility': graphOn == true ? 'visible':'hidden'}">
      <div class="graphCanvas">
         <app-knowledge-graph></app-knowledge-graph>
      </div>
   </div> -->
   <div class="middle" *ngIf="summarizerOn" [ngStyle]="{'width': summarizerOn == true ? '27%' : '0%'}">
      <app-summarizer></app-summarizer>
   </div>
   <div class="right">
      <app-sidebar></app-sidebar>
   </div>
</div>
