.left{
    /* width: 96%; */
    width: 96%;
    display: inline-block;
    margin: 0 auto;
}

.right{
    display: inline-block;
    width: 4%;
}

.middle{
    display: inline-block;
    width: 0%;
    vertical-align: top;
}

.graphCanvas{
    width: 96%;
    height: 90%;
    margin-top: 1rem;
    border: 1px solid white;
    border-radius: 10px;
}