<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="left" [ngStyle]="{ width: summarizerOn == true ? '70%' : '96%' }">
    <pdf-viewer
      #viewerRef
      [src]="pdfPath"
      [render-text]="true"
      (page-rendered)="pageRendered($event)"
      (pages-initialized)="pageInitialized($event)"
      (pageChange)="pageChange($event)"
      [original-size]="false"
      (references)="getReferences($event)"
      (hover)="createPreview($event)"
      style="width: 50rem; height: 90vh"
    ></pdf-viewer>

    <app-pdf-preview
      [ngStyle]="{ display: showPreview ? 'block' : 'none' }"
      [pdfPath]="pdfPath"
      [page]="previewPageNum"
      [reference]="reference"
      [offsetX]="leftCSSstr"
      [offsetY]="topCSSstr"
      [height]="heightStr"
      [width]="widthStr"
    >
    </app-pdf-preview>
  </div>
  <div
    class="middle"
    *ngIf="summarizerOn"
    [ngStyle]="{ width: summarizerOn == true ? '27%' : '0%' }"
  >
    <app-summarizer></app-summarizer>
  </div>
  <div class="right">
    <app-sidebar></app-sidebar>
  </div>
</div>
