input{
    background-color: #626262; 
    border-color: #999999;
    color: white;
}

input:focus, input:active{
    color: white;
    background-color: #626262; 
    outline: 2px solid #404040;
}


.submit{
    background-color: #404040;
    border: none; 
    padding: 10px 20px;
    font-size: 1.2rem;
}

.submit:active{
    background-color: #1c1c1c;
    border: none; 
    padding: 10px 20px;
    font-size: 1.2rem;
}

.signin{
    text-align: center;
    color: #e9e9eaa9;
}
